body {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

main {
  width: 350px;
  min-height: 150px;
  header {
    text-align: center;
    padding: 15px;
    background-color: #f18021;
    color: white;
    font-size: 40px;
  }
  .content {
    padding: 20px;
  }
}
.currently-playing > div {
  display: flex;
  gap: 20px;
  flex-direction: column;
  .header {
    display: flex;
    gap: 10px;
  }
  .image {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 4px;
    overflow: hidden;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .title {
    font-size: 21px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 260px;
  }
  .top {
    font-size: 15px;
    display: flex;
    gap: 5px;
    align-items: center;
    text-transform: uppercase;
  }
  .platform {
    font-size: 13px;
    span {
      text-transform: uppercase;
      font-size: 12px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      padding: 2px 5px;
    }
    &.spotify span {
      background: #1ed76030;
      color: #0d993f;
    }
    &.youtube-music span {
      background: #f7322d26;
      color: #f7322d;
    }
    img {
      width: 12px;
      height: 12px;
    }
  }
  .links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    a {
      display: flex;
      border-radius: 5px;
      padding: 10px;
      gap: 5px;
      width: calc(50% - 5px);
      text-decoration: none;
      color: #222;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-end;
      svg,
      img {
        width: 15px;
      }
      .icon-loading {
        display: none;
      }
      &.loading {
        .icon-loading {
          display: block;
          position: absolute;
        }
        img {
          opacity: 0;
        }
      }
      &.spotify {
        background-color: #1ed76030;
        border: 1px solid #0d993f;
        color: #0d993f;
      }
      &.youtube-music {
        background-color: #f7322d26;
        border: 1px solid red;
        color: #f7322d;
      }
      &.youtube {
        background-color: #f7322d26;
        border: 1px solid red;
        color: #f7322d;
      }
      &.apple {
        background-color: #f7322d26;
        border: 1px solid #fb576f;
        color: #b0132a;
      }
      &.deezer {
        background-color: #a238ff3b;
        border: 1px solid #a238ff;
        color: #a238ff;
      }
      &.soundcloud {
        background-color: #ff6c0030;
        border: 1px solid #ff6c00;
        color: #ff6c00;
      }
      &.amazon-music {
        background-color: #4400ff2e;
        border: 1px solid #40f;
        color: #40f;
      }
      &.tidal {
        background-color: #02020226;
        border: 1px solid #333;
        color: #333;
      }
      &.odesli {
        background-color: #02020226;
        border: 1px solid #333;
        color: #333;
      }
    }
  }
}
