body {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

main {
  width: 350px;
  min-height: 150px;
  header {
    text-align: center;
    padding: 15px;
    background-color: #f18021;
    color: white;
    font-size: 40px;
    position: relative;
    span {
      font-size: 15px;
      position: absolute;
      right: 10px;
      bottom: 4px;
      opacity: 0.4;
    }
  }
  .content {
    padding: 10px;
    max-height: 350px;
    overflow: auto;
  }
}
.nothing-playing {
  background: #80808020;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  span {
    font-size: 18px;
    opacity: 0.5;
  }
}
.playbar {
  display: flex;
  font-size: 0;
  * {
    font-size: 0;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 0;
    background: linear-gradient(0deg, #00000036, #00000017);
    cursor: pointer;
    width: 33px;
    height: 28px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: 0.2s outline;
    outline: 2px solid rgba(0, 0, 0, 0);
    &:first-child {
      border-radius: 5px 0 0 5px;
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
    }
    &:hover {
      outline: 2px solid rgba(0, 0, 0, 0.2);
    }
    &:active {
      svg {
        scale: 0.93;
      }
    }
  }
  .btn-play {
    .play {
      display: none;
    }
    &.paused {
      .play {
        display: block;
      }
      .pause {
        display: none;
      }
    }
    svg {
      width: 12px;
    }
  }
  svg {
    width: 15px;
    height: 15px;
  }
}
.currently-playing {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.currently-playing > article {
  border: 1px solid #b4d3d3;
  background: #edf7f7;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  .header {
    display: flex;
    gap: 10px;
  }
  .image {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 4px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    img {
      width: 100%;
      height: 100%;
    }
    &[isyoutube="true"] {
      object-fit: cover;
    }
  }
  .title {
    font-size: 21px;
    width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .top {
    font-size: 15px;
    display: flex;
    gap: 5px;
    align-items: center;
    text-transform: uppercase;
  }
  .platform {
    font-size: 13px;
    span {
      text-transform: uppercase;
      font-size: 12px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
      padding: 2px 5px;
    }
    &.spotify span {
      background: #1ed76030;
      color: #0d993f;
    }
    &.youtube-music span {
      background: #f7322d26;
      color: #f7322d;
    }
    img {
      width: 12px;
      height: 12px;
    }
  }
  .btn-focus {
    background: #00000010;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    img {
      width: 15px;
      height: 15px;
      opacity: 0.5;
    }
    &:hover {
      background: #00000020;
    }
  }
  .btn-copy {
    background: #00000010;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 15px;
      height: 15px;
      opacity: 0.5;
    }
    &:hover {
      background: #00000020;
    }
  }
  .links {
    display: flex;
    gap: 2px;
    transition: 0.2s opacity;
    &:has(a.loading) {
      pointer-events: none;
      opacity: 0.8;
    }
    a {
      display: flex;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      text-decoration: none;
      color: #222;
      flex-direction: row-reverse;
      align-items: center;
      flex-shrink: 0;
      border-width: 0px;
      border-style: solid;
      justify-content: center;
      transition: 0.2s outline-color;

      outline-style: solid;
      outline-width: 2px;
      outline-color: transparent;
      /* outline-offset: 2px; */

      span {
        display: none;
      }
      &:hover {
        /* outline-color: inherit; */
        svg,
        img {
          transform: scale(1.3);
        }
      }
      svg,
      img {
        width: 14px;
        height: 14px;
        transition: 0.2s transform;
      }
      .icon-loading {
        display: none;
      }
      &.loading {
        .icon-loading {
          display: block;
          position: absolute;
        }
        img {
          opacity: 0;
        }
      }
      &.spotify {
        background-color: #1ed76030;
        &:hover {
          outline-color: #0d993f;
          color: #0d993f;
        }
      }
      &.youtube-music {
        background-color: #f7322d26;
        &:hover {
          outline-color: red;
          color: #f7322d;
        }
      }
      &.youtube {
        background-color: #f7322d26;
        &:hover {
          outline-color: red;
          color: #f7322d;
        }
      }
      &.apple {
        background-color: #f7322d26;
        &:hover {
          outline-color: #fb576f;
          color: #b0132a;
        }
      }
      &.deezer {
        background-color: #a238ff3b;
        &:hover {
          outline-color: #a238ff;
          color: #a238ff;
        }
      }
      &.soundcloud {
        background-color: #ff6c0030;
        &:hover {
          outline-color: #ff6c00;
          color: #ff6c00;
        }
      }
      &.amazon-music {
        background-color: #4400ff2e;
        &:hover {
          outline-color: #40f;
          color: #40f;
        }
      }
      &.tidal {
        background-color: #02020226;
        &:hover {
          outline-color: #333;
          color: #333;
        }
      }
      &.odesli {
        background-color: #02020226;
        &:hover {
          outline-color: #333;
          color: #333;
        }
      }
    }
  }
}
