body {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

main {
  width: 350px;
  min-height: 150px;
  header {
    text-align: center;
    padding: 15px;
    background-color: #f18021;
    color: white;
    font-size: 40px;
  }
  .content {
    padding: 20px;
  }
}
.currently-playing > div {
  display: flex;
  gap: 10px;
  .image {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 4px;
    overflow: hidden;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .top {
    font-size: 15px;
    text-transform: uppercase;
  }
  .title {
    font-size: 21px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 260px;
  }
  .platform {
    font-size: 13px;
  }
}
